{% load static %}
<li>
    <article class="post">
        <a href="">
            <img src="{% static "blog/images/woods.jpg"%}" alt="My bigest dream"/>
            <div class="post__content">
                <h3>My bigest dream</h3>
                <p> I will tell you the story of my biggest dream in life.  There's nothing like the views you get when hiking in the
                    mountains! And I wasn't even prepared for what happened whilst I
                    was enjoying the view!
                </p>
            </div>
          </a>
        </article>
      </li>